extends layout

block content
  section.image
    h1 BEERS
  section.image2
    h1 BREWPUB
  section.image3
    h1 OTHER STUFF

block scripts
  script.
    var images = ['/images/FFF_www_ACOW_COL.jpg','/images/FFF_www_BLACKHEART_COL.jpg','/images/FFF_www_DEESKO_COL.jpg','/images/FFF_www_GUMBALL_COL.jpg','/images/FFF_www_PANZERWOLF_COL.jpg','/images/FFF_www_TOPLESSWYTCH_COL.jpg','/images/FFF_www_ALPHAKING_COL.jpg','/images/FFF_www_BLACKSUN_COL.jpg','/images/FFF_www_DREADDOUBLE_COL.jpg','/images/FFF_www_HBI_COL.jpg','/images/FFF_www_POPSKULL_COL.jpg','/images/FFF_www_WARMULLET_COL.jpg','/images/FFF_www_ALPHAKONG_COL.jpg','/images/FFF_www_BOOGOOP_COL.jpg','/images/FFF_www_DREADNAUGHT_COL.jpg','/images/FFF_www_JINX_COL.jpg','/images/FFF_www_RABBID_COL.jpg','/images/FFF_www_ZESZESZES_COL.jpg','/images/FFF_www_AMONAMARTH_COL.jpg','/images/FFF_www_CALQUEEN_COL.jpg','/images/FFF_www_DRUNKMONK_COL.jpg','/images/FFF_www_LASTSUPPER_COL.jpg','/images/FFF_www_RISGOOP_COL.jpg','/images/FFF_www_ZOMBIEDUST_COL.jpg','/images/FFF_www_ANNICA_COL.jpg','/images/FFF_www_CREEPER_COL.jpg','/images/FFF_www_DUSK_COL.jpg','/images/FFF_www_MOLOKO_COL.jpg','/images/FFF_www_RYELIGHTNG_COL.jpg','/images/FFF_www_BACKMASKING_COL.jpg','/images/FFF_www_CSB_COL.jpg','/images/FFF_www_EYEHATE_COL.jpg','/images/FFF_www_MUTINY_COL.jpg','/images/FFF_www_RYETIGER_COL.jpg','/images/FFF_www_BATTLECHARRO_COL.jpg','/images/FFF_www_DARKLORD_COL.jpg','/images/FFF_www_GORCH_COL.jpg','/images/FFF_www_NELSON_COL.jpg','/images/FFF_www_TIBERIAN_COL.jpg'];

    var myIL = new Glitch('.image', images, {filters: ['glitch'], delay: 15000});
    var myIL2 = new Glitch('.image2', images, {filters: ['brightness','red','glitch'], delay: 20000, animationFrames: 10, animationLength: 200});
