!!!
html
  head
    link(href='http://fonts.googleapis.com/css?family=Archivo+Black', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/glitch.css")
  body
    block content
    canvas
    script(src='/build/glitch.min.js')
    block scripts
