!!!
html
  head
    title Glitch
    link(href='http://fonts.googleapis.com/css?family=Archivo+Black', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/glitch.css")
  body
    block content
    script(src='/js/helpers.js')
    script(src='/js/filters.js')
    script(src='/js/glitch.js')
    script(src='/js/image-glitch.js')
    block scripts
