!!!
html
  head
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/glitch.css")
  body
    != yield
    canvas
    script(src='/js/helpers.js')
    script(src='/js/filters.js')
    script(src='/js/glitch.js')
    yield scripts
